@use 'src/styles/base/_settings.scss' as *;

.project-main{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    max-width: 130rem;

}

@media (min-width: 1024px) { 
    .project-main{
        margin-bottom: 15rem;
    }
}