@use 'src/styles/base/_settings.scss' as *;

.study{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

@media (min-width: 1024px) { 
    .study{
        min-width: auto;
        display: flex;
        align-items: center;
        width: 20rem;

    }
}