@use 'src/styles/base/_settings.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100vw;
    z-index: 2;
    padding: 2rem;
    box-shadow: 4px 0px 5px 1px rgba(0, 0, 0, 0.158);
    background-color: white;

    &__menu {
      display: none;
    }

    &__logo{
      font-family: map-get($map: $fuentes, $key: secundaria);
      font-size: 2.5rem;
      color: map-get($map: $colores, $key: secundario);
      z-index: 4;
    }
  }
  