@use 'src/styles/base/_settings.scss' as *;

.card-more{
    background-color: map-get($map: $colores, $key: primario);
 
    padding: 2rem;
    
    max-width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .7rem;

    &__icons{
        display: flex;
        justify-content: space-between;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: white;

        div{
            display: flex;
            gap: 1rem;
        }
    }

  

    p{
        font-size: 1.2rem;
        color: white;
        font-weight: 700;

        &:nth-child(3){
            font-size: 1.4rem;
            font-weight: 400;
            color: map-get($map: $colores, $key: white);
        }

        &:nth-child(2){
            color: map-get($map: $colores, $key: secundario);
            font-size: 1.6rem;
            font-weight: 700;
            margin: .5rem 0rem;
        }
    }

    &__tec{
        align-self: end;
        font-size: 1.4rem;
        color: map-get($map: $colores, $key: terciario);
        font-weight: 700;
    }
}

.fa__folder{
    color: map-get($map: $colores, $key: secundario);
}
